:root{
    --color: #0D2930;
    --color2: #07bdea;
    --color3: #ffdf01;
    --color1: #ff7c02;
    --color4: #ff0000;
    --color5: #4f4f4f;
    --color6: #b5b5b5;
    --color7: #ffffff;
}

*{
    /* Le quité los espacios en blanco */
    margin: 0px;
    padding: 0px;
    /* Color de la letra */
    color: var(--color7);

    /* Le daré una fuente a la página */
    font-family: sans-serif;
    
    list-style: none
}

.Caja{
    display: flex;
    background-color: var(--color);
}

.Columna20{
    width: 20%;
    background-color: var(--color);
    padding-top: 140px;
}

.Columna80{
    width: 75%;
}

.boton{
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.boton2{
    text-align: center;
    padding: 45px 100px;
    margin-bottom: 30px;
}

a{
    /* Color de la letra */
    color: var(--color7);
    /* Quitar efectos */
    text-decoration: none;
    /* Ubicación del texto */
    text-align: center;
    padding: 15px 30px;
}

.Caja25{
    /* Le di un alargamiento al contenido de la página */
    height: 20vh;
    /* Y espacio */
    padding: 10px;
}

.caja1{
    background-color: var(--color3);
    padding: 3px;
}

.caja2{
    background-color: var(--color5);
    padding: 18px;
    display: flex;
}

.caja3{
    background-color: var(--color3);
    padding: 18px;
    display: flex;
}

.caja4{
    background-color: var(--color5);
    padding: 18px;
    display: flex;
}

h1{
    padding: 12px;
}

p{
    align-self: center;
    padding: 12px;
}

.image{
    width: 200px;
    margin-right: 10px 10px;
    border-radius: 20px;
}

/* AQUÍ VA LA OPCIÓN DE LOS BOTONES LATERALES DE COLUMNA20 */
.boton {
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Cambio de tono al pasar el ratón */
.boton:hover {
    background-color: #767575; /* Nuevo color de fondo cuando se pasa el ratón */
}

.boton2 {
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Cambio de tono al pasar el ratón */
.boton2:hover {
    background-color: #767575; /* Nuevo color de fondo cuando se pasa el ratón */
}
